@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {font-family: Lato, sans-serif;
      font-weight: 400;
      color: #5a5555;
    }

    /* headings and logo */
    h1, h2 {
        font-family: Ephesis, sans-serif;
        text-transform: capitalize;
        letter-spacing: none;
        color: #d3803b;
    }

    #logo {
        float: left;
        font-size: 385%;
    }

    #menu {
        font-size: 160%;
        letter-spacing: normal;
        font-family: Ephesis, sans-serif;
        text-transform: capitalize;
    }

    #menu, #logo {
        line-height: 75px;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 30px; 
        font-family: Ephesis, sans-serif;
        text-transform: capitalize;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover {
      border-bottom: 1px solid #5a5555;
    }

    .active {
        border-bottom: 1px solid #5a5555;
    }

    /* main image and cover text*/
    
    #main-outer {
        
        height: 600px;
        width: 100%;
        overflow: hidden;

        position: relative;
    }

    #cover-text #cover-text h2 {
        color: white;
    }

    #main-image {
        height: 600px;
        width: 100%;
        background: url('../images/monk-mindfullness.jpg') no-repeat center center;

        /*animates zoom effect on loading page */
        animation-name: main-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    /* creates the level of zoom for hero image */

    @keyframes main-zoom {
        from{
        transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }

    #cover-text {
        font-size: 130%;
        font-family: Ephesis, sans-serif;
        text-transform: capitalize;
        letter-spacing: normal;

        width: 300px;
        height: 200px;

        padding-top: 40px;
        padding-left: 10px;
        color:#5a5555;
        top:0px;
        left:0px;

        position: absolute;
         
    }


